body {
  width: 480px;
  margin: 0 auto;
}

.progress-bar {
  padding: 0;
}

.internal-error {
  position: absolute;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: #fff;
  box-shadow: 0 -1px rgba(0, 0, 0, .4);
}

.controls {
}

.has-ui .controls {
  display: block;
}

.hide-ui .controls {
  position: absolute;
  width: 100%;
}
.hide-ui .controls span {
  display: none;
}
.hide-ui .player {
  box-shadow: none;
}
.modal{
  position: fixed;
  z-index:999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0,0,0,0.8);

}
 #full_screen_player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    display:block;
  }
  .modal-close{
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 5px;
    color: #444;
    background-color: #fff;
  }
.is-hide{
  display: none;
}